.MapComponent {
  height: calc(100vh - #{$spacing-layout-2-xl});
  z-index: 10;

  .leaflet-control-container {
    .leaflet-bottom {
      margin-bottom: $spacing-m;
    }
  }

  .SidePanel--open + & {
    margin-left: $search-map-sidebar-width;
  }
}
