.AreaSearchTargetSummary {
  margin-bottom: 4em;
  .AreaSearchTargetSummary__target {
    padding-left: 0;
    margin-left: 1px;
    overflow: hidden;
    row-gap: $spacing-s;

    .AreaSearchTargetSummary__target-address {
      font-size: $fontsize-heading-m;
      font-weight: bold;
      margin-bottom: 0.8em;
    }
  }
}
