.AreaSearchMap {
  &__map {
    height: 600px;
    max-height: 75vh;

    .leaflet-geosearch-bar {
      z-index: 400;
    }
  }

  &__error {
    display: flex;
    align-items: center;
    color: var(--color-error);
    padding: calc($spacing-xs / 2) 0 $spacing-xs;
    gap: calc($spacing-xs / 2);
  }
}
