@import "styles/variables";
@import "styles/fonts";

.top-navigation {
  display: flex;
  align-items: center;
  z-index: 10;
  position: fixed;
  background-color: $white;
  top: 0;
  left: 0;
  right: 0;
  height: 71px;
  font-family: $tertiary;
  font-weight: $semibold;
  border-bottom: 1px solid $grey-border;
  padding: 0% 5%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  font-size: 18px;

  a {
    color: $blackOne;
    text-decoration: none;
    padding: 0 15px;

    &:visited {
      color: inherit;
    }
    &:hover {
      color: $blackTwo;
    }
  }

  .start {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
  }

  .end {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
  }

  .helsinki-logo {
    background: url(../assets/images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 48px;
    width: 100px;
  }

  .profile-logo {
    background: url(../assets/images/profile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 28px;
    color: blue;
  }

  .about-logo {
    background: url(../assets/images/about.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 18px;
  }

  .favorite-logo {
    background: url(../assets/images/favorite.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 18px;
  }

  .language-logo {
    background: url(../assets/images/globe.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 18px;
    font-size: 18px;
    margin-left: 15px;
    padding-left: 25px;
  }
}