@import 'styles/variables';
@import 'styles/fonts';

.modal {
  &__wrapper {
    z-index: 1080;
    background-color: $white;
    width: 800px;
    max-width: 100%;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);

    @include transition(0.5s, top, ease);
  }

  &__header {
    padding: 20px 20px 20px;
    border-bottom: 1px solid $grey-border;

    h1.title {
      font-size: 22px;
      line-height: 24px;
      font-weight: $semibold;
      color: $black;
      margin: 0;
    }

    &_wrapper {
      position: relative;
    }
  }

  &__content {
    padding: 50px 50px;
    height: auto;
  }

  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1070;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    visibility: hidden;

    @include transition(0.5s, all, ease);
  }

  &.modal-open {
    .modal__wrapper {
      top: 50%;
    }

    .modal__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &.modal-small {
    .modal__wrapper {
      width: 100%;
      max-width: 900px;
    }
  }

  &.modal-large {
    .modal__wrapper {
      width: $content-max-width;
    }
  }

  &.modal-autoheight {
    .modal__content {
      height: auto;
    }
  }

  &__button-wrapper {
    margin-top: 10px;
    text-align: right;

    button:first-child {
      margin-left: 0;
    }

    button:last-child {
      margin-right: 0;
    }
  }
}
