@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin rotate( $deg: 0deg ) {
  @include transform(rotate($deg));
}

@mixin scale( $ratio: 1 ) {
  @include transform(scale($ratio));
}
