$black: #000000 !default;
$blackOne: #231F20 !default;
$blackTwo: #332F3F !default;
$white: #ffffff !default;
$grey-border: #EBEDF1 !default;
$light-brown: #C2A251 !default;

$body-background: $white !default;

$content-max-width: 1300px !default;
