.map-view {
  background: url(../assets/images/map.jpg);
  background-size: 100%;
  height: 740px;
  background-repeat: no-repeat;

  @media #{$mq-medium-max} {
    background-size: cover !important;
    background-position-y: 0;
  }
}