@import 'styles/variables';
@import 'styles/fonts';

.front-page {
  .banner {
    background-color: #9fc9eb;
    height: 540px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    background: url(../assets/images/banner-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 35%;
    z-index: -1;
    @media #{$mq-medium-max} {
      background-size: cover !important;
      background-position-y: 0;
    }

    h3 {
      padding: 0 15%;
      font-family: $primary;
      font-weight: $semibold;
      font-size: 70px;
      color: $white;
      margin-left: auto;
      margin-right: auto;
      @media #{$mq-small} {
        font-size: 48px;
      }
    }

    .banner-koro {
      height: 14px;
      background: url(../assets/images/basic-wave-koro.svg);
      background-size: 96px 14px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      @include rotate(180deg);
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h4 {
      padding: 0 15%;
      font-family: $tertiary;
      font-weight: $semibold;
      font-size: 40px;
      color: $black;
      margin-left: auto;
      margin-right: auto;
      @media #{$mq-small} {
        font-size: 28px;
      }
    }

    .boxes {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }

    h5 {
      margin-top: 50px;
      font-size: 32px;
      font-family: $tertiary;
      font-weight: $semibold;
      margin-left: auto;
      margin-right: auto;

      @media #{$mq-small} {
        font-size: 24px;
      }
    }
  }
}
