.favouritesPage {
  padding-top: $spacing-4-xl;
}

.favouritesPage__targetCard {
  width: 80%;
  margin-bottom: $spacing-2-xl;
}

.favouritesPage__targetCard__headerRow {
  margin-bottom: $spacing-2-xs;
}

.favouritesPage__targetCard__removeButton {
  float: right;
}

.favouritesPage__targetCard__map {
  height: 100%;
}
