.FrontPageBox {
  width: 280px;
  height: 380px;
  margin: $spacing-s / 2;
  padding: $spacing-s;
  overflow: scroll;

  &--pink {
    background-color: $color-suomenlinna;
  }

  &--gray {
    background-color: $color-silver;
  }

  &--yellow {
    background-color: $color-engel;
  }

  &--blue {
    background-color: $color-coat-of-arms-medium-light;
  }

  .FrontPageBox__top-label {
    display: flex;
    align-items: flex-start;
    font-weight: bold;
  }
  .FrontPageBox__image {
    background-color: #00000022;
    margin: 30px auto;
    width: 50%;
    max-height: 100px;
    height: 50%;
  }
  .FrontPageBox__label {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: $fontsize-heading-m;
    font-weight: $semibold;
  }
  .FrontPageBox__bottom-text {
    margin-top: 15px;
  }
}
