.ApplicationFileUploadField {
  .ApplicationFileUploadField__pending-uploads {
    width: 100%;
    border: 2px solid $color-black-40;
    background-color: $color-white;
    border-spacing: 0;
    margin-bottom: $spacing-s;

    thead tr th {
      text-align: left;
      padding: $spacing-s;
    }

    tbody tr {
      th {
        text-align: left;
        font-weight: normal;
      }
      th,
      td {
        border-top: 1px solid $color-black-20;
        padding: 0 $spacing-s;
      }
    }

    .ApplicationFileUploadField__no-files-uploaded {
      text-align: center;
      padding: $spacing-s;
    }
  }
}
