.ApplicationFormSubsection {
  &.ApplicationFormSubsection--confirmation {
    border-top: 1px solid $color-black-20;
    margin-top: $spacing-l;
    padding-top: $spacing-l;
  }

  .ApplicationFormSubsection {
    border-bottom: 1px solid $color-black-20;
    margin-bottom: $spacing-m;
    padding-bottom: $spacing-m;

    &:last-of-type {
      border-bottom-width: 0;
      margin-bottom: 0;
    }
  }

  .ApplicationFormSubsection__content {
    background-color: $color-black-5;
    padding: $spacing-m;
  }

  .ApplicationFormField {
    margin-bottom: $spacing-s;
  }

  .ApplicationFormSubsectionFieldArray__item {
    background-color: $color-black-5;
    border-bottom: 1px solid $color-black-20;

    &:last-of-type {
      border-bottom-width: 0;
    }

    > .ApplicationFormSubsectionFieldArray__item-content {
      padding: $spacing-m;
      position: relative;
    }

    .ApplicationFormSubsectionFieldArray__remove-button {
      position: absolute;
      right: $spacing-m;
      top: $spacing-m + calc(($lineheight-l - $lineheight-s) / 2);
    }
  }

  .ApplicationFormSubsectionFieldArray--top-level {
    .ApplicationFormSubsectionFieldArray__item {
      margin-top: $spacing-m;
      padding: $spacing-m 0;
      border-bottom-width: 0;
    }
  }

  .ApplicationFormSubsection {
    margin-left: -$spacing-m;
    margin-right: -$spacing-m;

    > * {
      padding-left: $spacing-m;
      padding-right: $spacing-m;
    }
  }

  .ApplicationFormSubsectionFieldArray__add-button {
    margin-top: $spacing-l;
  }
}
