.MapSearchComponent {
  width: 440px;
  padding-bottom: 24px;

  &__search-input {
    padding: 15px;
    background-color: #48505b;
  }

  &__accordion {
    border-top: 1px solid $color-black-20;

    .MapSearchComponent__accordion-heading > * {
      > * {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .MapSearchComponent__accordion-heading-toggler {
        padding: 15px 0;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    &--expanded > .MapSearchComponent__accordion-heading {
      background-color: $color-black-5;
    }

    &--expanded + .MapSearchComponent__accordion {
      // overlap the bottom border of the last target list in the previous opened section
      margin-top: -1px;
    }

    .MapSearchComponent__accordion-body {
      background-color: $color-black-5;
    }

    .MapSearchComponent__target {
      padding: 5px 10px;
      border-bottom: 1px solid $color-black-20;
      font-size: $fontsize-body-s;
    }

    .MapSearchComponent__target-address {
      hyphens: auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .MapSymbol {
      margin-left: 3px;
    }
  }

  &__plot-search-subtype-heading {
    text-transform: uppercase;
    font-size: $fontsize-body-l;
    padding: 10px 10px;
    margin: 0;
  }

  &__plot-search-heading {
    background-color: $color-black-20;
    padding: 10px 10px;
    margin: 10px 0 0 0;

    h4 {
      margin: 0;

      + span {
        display: block;
        padding-top: 5px;
        font-size: $fontsize-body-s;
      }
    }
  }

  &__list-headings {
    font-weight: 700;
    font-size: $fontsize-body-s;
    padding: 5px 10px;
  }

  .MapSearchSingleTargetView + .MapSearchComponent__list-view {
    display: none;
  }
}
