@import "styles/variables";
@import "styles/fonts";

.mvj-button {
  font-size: $font-small;
  font-family: $tertiary;
  font-weight: 600;
  color: $white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem 4rem;
  cursor: pointer;
  margin: 0 0.5rem;
  white-space: nowrap;

  &:disabled {
    background-color: $medium-dark-gray !important;
    color: $white !important;
    opacity: 1;
    cursor: not-allowed;
  }

  &.success {
    background-color: $blackOne;
    color: $white;
    border: 2px solid $blackOne;

    &:hover {
      background-color: $black-hover;
    }
  }

  &.alert {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $red-hover;
    }
  }

  &.neutral {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;

    &:hover {
      background-color: $light-blue;
    }
  }

  &.secondary {
    background-color: $white;
    color: $black;
    border: 2px solid $blackOne;

    &:hover {
      background-color: $lightest-gray;
    }
  }

  &.button-xs {
    height: 26px;
  }

  &.no-margin {
    margin: 0;
  }

  &.no-margin-right {
    margin-right: 0;
  }

  &.full-width {
    width: 100%;
  }

  &.pull-right {
    float: right;
  }
}

.icon-button-component {
  cursor: pointer;
  position: relative;
  top: -1px;

  &:hover {
    .icons {
      fill: $blue !important;
      stroke: $blue !important;
    }
  }

  &:disabled {
    cursor: not-allowed;

    .icons {
      fill: $blue !important;
    }
  }

  &.position-topright {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sendup-button {
  color: $blue;
  font-size: 14px;
  font-weight: $semibold;
  font-family: $tertiary;
  cursor: pointer;

  .icons__sendup {
    vertical-align: bottom;
    margin-left: 5px;
    fill: $blue;
    stroke: $blue;
  }

  &:hover {
    color: $blue-hover;

    .icons__sendup {
      fill: $blue-hover;
      stroke: $blue-hover;
    }
  }
}
