.ApplicationPage {
  @include pageTopLevelComponent();

  .ApplicationPage__action-buttons {
    margin-top: $spacing-m;
    margin-bottom: $spacing-m;

    button + button {
      margin-left: $spacing-s;
    }
  }
}
