body {
  margin: 0;

  .App {
    width: 100%;
    display: block;
    overflow: hidden;
    min-height: 100%;

    main {
      min-height: calc(100vh - #{$spacing-3-xl});
      margin-top: $spacing-5-xl;
      margin-bottom: -$spacing-s;
      @media (max-width: #{$breakpoint-s - 1px}) {
        margin-top: 65px;
      }
    }
  }
}
