@import "styles/fonts";
@import "styles/variables";
@import "styles/mixins";

@import "topNavigation/top-navigation";
@import "frontPage/front-page";
@import "footer/footer";
@import "app";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  overflow-y: auto;
  height: calc(100% - 60px);
  background-color: $body-background;
}

.container {
  margin-top: 72px;
  min-height: 100vh;
}