@import '~hds-design-tokens/lib/all';
@import '~leaflet/dist/leaflet';
@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/mixins';

@import 'breadcrumbs/breadcrumbs';
@import 'button/iconButton';
@import 'footer/footer';
@import 'frontPage/frontPage';
@import 'frontPage/components/frontPageBox';
@import 'topNavigation/topNavigation';
@import 'topNavigation/components/topNavigationFavouritesIcon';
@import 'login/components/loginForm';
@import 'panel/sidePanel';
@import 'app';
@import 'plotSearchAndCompetitionsPage/components/mapSymbol';
@import 'plotSearchAndCompetitionsPage/components/mapSearchComponent';
@import 'plotSearchAndCompetitionsPage/components/mapSearchSingleTargetView';
@import 'plotSearchAndCompetitionsPage/components/mapComponent';
@import 'favouritesPage/favouritesPage';
@import 'favouritesPage/components/favouriteCard';
@import 'favouritesPage/components/favouriteCardDetails';
@import 'favouritesPage/components/favouriteCardMap';
@import 'loader/blockLoader';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  overflow-y: auto;
  height: calc(100% - 60px);
  background-color: $body-background;
  font-family: $font-default;
}
