@import 'node_modules/hds-design-tokens/lib/all.scss';
@import 'node_modules/leaflet/dist/leaflet';
@import 'node_modules/leaflet-draw/dist/leaflet.draw';
@import 'node_modules/leaflet-geosearch/dist/geosearch';
@import 'node_modules/leaflet-measure-path/leaflet-measure-path';

@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/mixins';

@import 'breadcrumbs/breadcrumbs';
@import 'button/iconButton';
@import 'footer/footer';
@import 'frontPage/frontPage';
@import 'topNavigation/topNavigation';
@import 'topNavigation/components/topNavigationFavouritesIcon';
@import 'login/components/loginForm';
@import 'panel/sidePanel';
@import 'app';
@import 'mapSearch/mapSymbol';
@import 'mapSearch/mapSearchComponent';
@import 'mapSearch/mapSearchPage';
@import 'mapSearch/mapSearchSingleTargetView';
@import 'mapSearch/mapComponent';
@import 'mapSearch/infoLinks';
@import 'favouritesPage/favouritesPage';
@import 'favouritesPage/components/favouriteCard';
@import 'favouritesPage/components/favouriteCardDetails';
@import 'favouritesPage/components/favouriteCardMap';
@import 'loader/blockLoader';
@import 'globalNotification/globalNotificationContainer';
@import 'application/applicationPage';
@import 'application/applicationPreviewPage';
@import 'application/applicationSuccessPage';
@import 'application/components/applicationForm';
@import 'application/components/applicationFormSubsection';
@import 'application/components/applicationFormTargetSummary';
@import 'application/components/applicationFieldsetHelperText';
@import 'application/components/applicationFieldError';
@import 'application/components/applicationCheckboxFieldset';
@import 'application/components/applicationRadioButtonFieldset';
@import 'application/components/applicationFileUploadField';
@import 'application/components/applicationFractionalField';
@import 'application/components/applicationTargetList';
@import 'application/components/applicationProcedureInfo';
@import 'application/components/applicationPreviewSubsection';
@import 'application/components/applicationPreviewSubsectionField';
@import 'a11y/screenReaderText';
@import 'areaSearch/areaSearchLandingPage';
@import 'areaSearch/areaSearchSpecsPage';
@import 'areaSearch/components/areaSearchApplicationForm';
@import 'areaSearch/components/areaSearchApplicationRootPage';
@import 'areaSearch/components/areaSearchMap';
@import 'areaSearch/components/areaSearchTargetSummary';
@import 'areaSearch/components/areaSearchTargetSummaryMap';
@import 'areaSearch/components/areaSearchTargetSummaryInfo';
@import 'boxGrid/boxGrid';
@import 'boxGrid/boxGridBox';
@import 'directReservation/directReservationPage';
@import 'faq/faqAccordion';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  overflow-y: auto;
  height: calc(100% - 60px);
  background-color: $body-background;
  font-family: $font-default;
}
